i {
  cursor: pointer;
}

img {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.con {
  max-width: 1200px;
  padding: 0 32px;
  margin: auto;
}

nav {
  width: 100%;
  background-color: none;
  transition: all 0.5s ease;
  position: fixed;
}
nav .connav {
  width: 100%;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
nav .connav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
nav .connav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
nav .connav ul li button {
  width: 180px;
  height: 65px;
  background-color: #10C98F;
  border: none;
  font-size: 18px;
  color: white;
}
nav .connav ul .blog {
  font-size: 20px;
  color: white;
  transition: 0.5s ease;
}
nav .connav ul .blog .gut {
  display: none;
}
nav .connav ul .blog:hover .gut {
  width: 150px;
  height: 150px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.5s ease;
  border: 2px solid #198754;
}
nav .connav ul .blog:hover .gut a {
  color: #198754;
}
nav .connav ul .blog:hover .gut a:hover {
  transform: scale(1.1);
}
nav .connav i {
  font-size: 40px;
  color: white;
  display: none;
}

@media screen and (max-width: 800px) and (min-width: 320px) {
  nav {
    width: 100%;
    background-color: #26BE9F;
    position: relative;
  }
  nav .connav ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 370px;
    background-color: #26BE9F;
    margin-left: -40px;
    display: none;
  }
  nav .connav i {
    display: block;
  }
}
header {
  width: 100%;
  height: 800px;
  background: linear-gradient(rgba(16, 201, 143, 0.4), rgba(16, 201, 143, 0.4)), url("https://preview.colorlib.com/theme/easylo/assets/img/hero/h1_hero1.jpg.webp");
  display: flex;
  align-items: center;
  justify-content: center;
}
header .headercon {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  gap: 50px;
}
header .headercon .headertext {
  width: 40%;
  gap: 10px;
  height: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header .headercon .headertext h1 {
  font-size: 70px;
  color: white;
}
header .headercon .headertext hr {
  width: 100px;
  border: 2px solid white;
  background-color: white;
  height: 2px;
}
header .headercon .headertext h2 {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
  color: white;
}
header .headercon .headertext button {
  width: 180px;
  height: 60px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  transition: 0.5s ease;
}
header .headercon .headertext button:hover {
  background-color: #10C98F;
  border: none;
}
header .headercon .headerarea {
  background-color: white;
  width: 40%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0px;
}
header .headercon .headerarea h2 {
  color: #0f4332;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
}
header .headercon .headerarea .p11 {
  font-family: "Chivo", sans-serif;
  color: #4c5753;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}
header .headercon .headerarea hr {
  width: 70px;
  border: 1px solid #0f4332;
  background-color: #0f4332;
}
header .headercon .headerarea .p1 {
  width: 80%;
  text-align: start;
  display: flex;
  color: #4c5753;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
}
header .headercon .headerarea .p1 span {
  color: #10C98F;
  font-weight: 400;
  line-height: 1.6;
}
header .headercon .headerarea select {
  outline: none;
  width: 80%;
  height: 50px;
  border: 1px solid #a2a3a3;
  padding: 0px 10px;
}
header .headercon .headerarea button {
  background-color: #10C98F;
  border: none;
  width: 80%;
  height: 50px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
}
header .headercon .headerarea h4 {
  color: #4c5753;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  line-height: 1.6;
}

main {
  width: 100%;
}
main .maincon {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main .maincon h1 {
  color: #0f4332;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 900;
  width: 70%;
}
main .maincon hr {
  width: 70px;
  height: 3px;
  border: 1px solid #10C98F;
  background-color: #10C98F;
}
main .maincon p {
  color: #6D6D6D;
  width: 40%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.section1 {
  width: 100%;
}
.section1 .sectioncon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.section1 .sectioncon .divfo {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section1 .sectioncon .divfo p {
  color: #0c8760;
  font-size: 14px;
}
.section1 .sectioncon .divfo h3 {
  color: #0f4332;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
.section1 .sectioncon .divfo h4 {
  font-family: "Chivo", sans-serif;
  color: #4C5753;
  font-size: 16px;
  line-height: 30px;
}

.section2 {
  width: 100%;
}
.section2 .section2con {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .section2con .imgclass {
  width: 70%;
  height: 100%;
}
.section2 .section2con .imgclass img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=easylo.css.map */